<html>

<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <title><%= appName %></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <!--/* Hacky meta tag so that the Angular webapp can recognize when the user's session has expired */-->
    <meta name="springBootLoginForm" content=""/>
    <!--/* Refresh to lessen the chance of the Spring Boot CSRF token expiring */-->
    <meta http-equiv="refresh" content="60;"/>
    <link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<div class="container" style="margin: 100px auto;width:200px;">
    <h1>Select your Identity Provider:</h1>
    <form th:action="${idpDiscoReturnURL}" method="get">
        <div th:each="idp : ${idps}">
            <input type="radio" th:name="${idpDiscoReturnParam}" th:id="'idp_' + ${idp}" th:value="${idp}" />
            <label th:for="'idp_' + ${idp}" ><span th:text="${idp}">null</span></label>
        </div>
        <p>
            <input type="submit" value="Login" />
        </p>
    </form>
</div>
</body>
</html>
